{% extends 'base.html' %}
{% load omfilters %}

<!-- {% block titulo %}Resumo da compra | {% endblock %} -->

{% block 'content' %}

<div class="row mb-5">
    <div class="col-lg">
        <h2>Ops!!! Tem certeja que deseja apagar sua conta?</h2>

        <p class="lead">Seus dados</p>
        <dl class="row">
            <dt class="col-lg-2">Nome:</dt>
            <dd class="col-lg-4">{{ usuario.first_name }}</dd>
            <dt class="col-lg-2">Sobrenome:</dt>
            <dd class="col-lg-4">{{ usuario.last_name }}</dd>

            <dt class="col-lg-2">Idade:</dt>
            <dd class="col-lg-4">{{ usuario.perfil.idade }}</dd>
            <dt class="col-lg-2">Nascimento:</dt>
            <dd class="col-lg-4">{{ usuario.perfil.data_nascimento }}</dd>

            <dt class="col-lg-2">CPF:</dt>
            <dd class="col-lg-4">{{ usuario.perfil.cpf }}</dd>
            <dt class="col-lg-2">E-mail:</dt>
            <dd class="col-lg-4">{{ usuario.email }}</dd>
        </dl>
        <div class="row">
            <div class="col">
                <form action="{% url 'perfil:delete' request.user.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" value='delete' class="btn btn-block btn-lg btn-danger">
                        Sim, Tenho certeza
                    </button>
                    <a type="button" class="btn btn-block btn-lg btn-success" href="{% url 'produto:lista' %}">
                        Não, Me leve de volta
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}